    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="canonical" href="https://40ton.online">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body class="stop-scroll">
	<div class="upload hidden">
    	<img id="upload" src="/img/preload.gif">
	</div>
	<div id="langChoice">
    	<img id="langPl" src="/img/flag_pl.png">
    	<a href="https://es.40ton.online">
    		<img id="langEs" src="/img/flag_es.png">
    	</a>
	</div>
	<div id="writeSigns"><p></p></div>
{{!-- carousel start --}}
	<header>
		<h1 class="hidden">System kontroli zużycia paliwa</h1>
		<div class="textContainer">
			<div class="textBlock">
				<div class="carouselText">
					<h2>Twój <br class="notMobile"> Transport</h2>
				</div>
				<div class="carouselText">
					<h2>Koszty <br class="notMobile"> Paliwa</h2>
				</div>
				<div class="carouselText">
					<h2>Nasze <br class="notMobile"> Statystyki</h2>
				</div>
				<div class="carouselText">
					<h2>Ekonomia <br class="notMobile"> Jazdy</h2>
				</div>
				<div class="carouselText">
					<h2>Twój <br class="notMobile"> Sukces</h2>
				</div>
			</div>
		</div>	
		<div id="carousel">
			<div class="cage">
			<div class="img-container">
				<img src="img/Transport ciezarowy.jpg" alt="Transport ciężarowy" title="Transport ciężarowy"/>
				<img src="img/Wysokie koszty paliwa.jpg" alt="Wysokie koszty paliwa" title="Wysokie koszty paliwa"/>
				<img src="img/Kontrola zuzycia paliwa.jpg" alt="Kontrola zużycia paliwa" title="Kontrola zużycia paliwa"/>
				<img src="img/Efektywne prowadzenie pojazdu.jpg" alt="Efektywne prowadzenie pojazdu" title="Efektywne prowadzenie pojazdu"/>
				<img src="img/Sukces finansowy firmy transportowej.jpg" alt="Sukces finansowy firmy transportowej" title="Sukces finansowy firmy transportowej" />	
			</div>
			</div>		
		</div>
		<div id="points">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>		
	</header>
{{!-- carousel end --}}

	<div class="container systemNawigation">
		<div class="row">
			<section class="row navLeft">
				<h1>{{ title }} {{env}}</h1>
			</section>
			<div class="divider hidden dividerMobile"></div>
		    <nav class="row navRight">
		    	<h4 class="hidden">Główna nawigacja systemu kontroli zużycia paliwa</h4>
				<p id="regBtn" class="navEl desc">Rejestracja</p>
				<p id="logBtn" class="navEl desc">Logowanie</p>
				<p id="sendMeBtn" class="navEl desc">Formularz</p>
				<a href="/img/instrukcja_systemu_kontroli_zuzycia_paliwa.pdf" target="_blank"><p class="navEl">Instrukcja</p>
				</a>
				<p id="demo" class="navEl">Demo systemu</p>
			</nav>
		</div>
		<hr class="notMobile">
	</div>	
	
	<div id="messDiv" class="hidden">
		<p id="messText"></p>
		<button id="messBtn">Zamknij okno</button>
	</div>

	<aside id="logDiv" class="hidden">
		<h4 class="hidden">Panel logowania do systemu kontroli zużycia paliwa</h4>
		<div class="regLog">			
			<p><strong>Logowanie użytkownika</strong></p>    	    
        	<form id="formLog">
        		<input type="hidden" name="_csrf" value="{{csrfToken}}">
            	<input type="email" name="email" placeholder="E-mail" autofocus>
            	<input type="password" name="password" placeholder="Hasło">
            	<input type="submit" value="Zaloguj">            	
        	</form>
        	<div>
    			<p id="chPsw">Nie pamiętam hasła.</p>
    		</div>
    	</div>
    </aside>

	<aside id="regDiv" class="regLog hidden">
	<h4 class="hidden">Panel rejestracji do systemu kontroli zużycia paliwa</h4>		
    	<p><strong>Rejestracja nowego użytkownika</strong></p>    	
	    <form id = "register">
	    	<input type="text" name="name" placeholder="Imię" autofocus>
	    	<input type="text" name="lastName" placeholder="Nazwisko">    	
	    	<input type="text" name="company" placeholder="nazwa firmy">
	    	<input type="number" name="nip" placeholder="numer NIP bez kresek">
	    	<input type="text" name="street" placeholder="adres">
	    	<input type="text" name="city" placeholder="miasto" ><br>
	    	<input type="text" name="post" placeholder="kod pocztowy">
	    	<input type="text" name="country" placeholder="kraj">
	    	<input type="email" name="email" placeholder="email">
	    	<input type="email" name="email2" placeholder="powtórz email">
	    	<input type="password" name="password" placeholder="hasło">
	    	<input type="password" name="password2" placeholder="powtórz hasło">
	    	<input type="hidden" name="_csrf" value="{{csrfToken}}">
			
			<div class="permission">
				<input type="checkbox" name="permission" required>
				<small>Wyrażam zgodę na przetwarzanie moich danych osobowych przez 40ton.online w celu założenia i utrzymywania mojego konta użytkownika na warunkach opisanych w REGULAMINIE i przy zachowaniu przepisów rozporządzenia o ochronie danych osobowych (RODO). Zgodę mogę wycofać w dowolnym momencie.<br> Mam prawo do wglądu, poprawiania oraz do usunięcia moich danych osobowych wraz z kontem w dowolnej chwili.</small>
				<input type="submit" name="submit" id="sendData" value="Zarejestruj firmę">
			</div>	
	    </form>		    	
	</aside>
	<aside id="sendDiv" class="regLog hidden">
		<h4 class="hidden">Formularz kontaktowy systemu kontroli zużycia paliwa</h4>
	   	<p><strong>Formularz kontaktowy</strong></p>
	   	<form id="sendMe">
	   		<input type="hidden" name="_csrf" value="{{csrfToken}}">
	   		<input type="text" name="name" placeholder="imię">
	   		<input type="email" name="email" placeholder="adres email"><br>
	   		<textarea rows="4" cols="150" name="messg" placeholder="treść wiadomości"></textarea><br>
           	<input type="submit" value="Wyślij">
	   	</form>
	</aside>
	<div class="dividerLeft hidden dividerMobile"></div>
	<section>
		<h4 class="hidden">Mało efektywny sposób prowadzenia pojazdów ciężarowych powoduje straty</h4>
		<div class="container">		
			<div class="row secBannerFirstRow">
				<div class="secBannerFirstLeft"></div>
				<div class="secBannerFirstRight">
					<article>
						<h3>Efektywne prowadzenie pojazdów to czysty zysk firmy.</h3>			
							Jak dokładnie sprawdzić, porównać i docenić kierowców?<br>
							Jak uzyskać dane spalania każdego odcinka trasy pojazdu?<br>
							Jak zwiększyć rentowność przedsiębiorstwa?<br>
							Kontrola utrzymania normy spalania to podstawa ekonomicznej
							przyszłości każdej firmy transportowej.<br><br>
							40 dni pełnego dostępu do systemu za darmo dla każdego pojazdu firmy.<br>
							Dokonanie rejestracji pozwala na bezpłatny dostęp do aplikacji.
					</article>					
				</div>
			</div>
			<hr>
		</div>
	</section>	
	<section>
		<h4 class="hidden">Kontrola kosztów zużycia paliwa</h4>
		<div class="container">		
			<div class="row secFirstRow">
				<div class="secFirstLeft">
					<article>
						<h3>40ton.online</h3>Program przeznaczony jest dla firm transportowych, dla których istotna jest szczegółowa kontrola kosztów wynikających z efektywnego sposobu prowadzenie pojazdów. Podstawą działania aplikacji jest obliczanie średnich rzeczywistego zużycia paliwa oraz wyliczanie norm spalania uzależnionych od wagi przewożonego ładunku na poszczególnych odcinkach tras dla każdego pojazdu i dla każdego kierowcy firmy. Oznacza to, że brane są pod uwagę procentowe udziały odcinków z danym obciążeniem w całości trasy i w wyniku obliczeń otrzymujemy normę do porównania z rzeczywistym zużyciem paliwa.
					</article>
					<div class="dividerLeft"></div>
				</div>
				<div class="secFirstRight">
					<div class="imgTrigger_first"><i class="fa fa-search-plus" aria-hidden="true"></i>
					<img style="left: 0px;" src="/img/Wykres utrzymanie normy obliczanej dla wagi ladunku.jpg" alt="Wykres utrzymanie normy obliczanej dla wagi ładunku" title="Wykres utrzymanie normy obliczanej dla wagi ładunku">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h4 class="hidden">Wyliczanie norm spalania w zależności od masy towaru</h4>
		<div class="container">		
			<div class="row secSecondRow">
				<div class="secSecondLeft notMobile">
				<div class="imgTrigger_second"><i class="fa fa-search-plus" aria-hidden="true"></i>
					<img style="left: 0px;" src="/img/Wykres efektywnosci pojazdow ciezarowych.jpg" alt="Wykres efektywności pojazdów ciężarowych" title="Wykres efektywności pojazdów ciężarowych">
				</div>
				</div>
				<div class="secSecondRight">
					<article>
						<h3>Spalanie od tony ładunku</h3>
						Do obliczeń norm przyjmowane są wartości średniej zużycia paliwa dla zestawu bez ładunku oraz współczynnika zwiększenia spalania "od tony ładunku". Wartości te przyjęto na poziomie:  24 l/100 km dla zestawu bez ładunku oraz wzrost o 0.4 l dla każdej tony przewożonego ładunku, jednak każda z nich może być ustawiona indywidualnie przez użytkownika dla różnych pojazdów firmy. Zapraszamy do zapoznania się z funkcjonalością systemu poprzez <strong id="demo_2">wersję demonstarcyjną</strong>. Rejestracja firmy w systemie pozwala na bezpłatne testowanie aplikacji przez 40 dni dla każdego pojazdu.
					</article>
					<div class="divider"></div>
				</div>
			</div>
		</div>
	</section>
	<div class="secSecondLeft hidden dividerMobile">
		<div class="imgTrigger_second">
			<img style="left: 0px;" src="/img/Wykres efektywnosci pojazdow ciezarowych.jpg" alt="Wykres efektywności pojazdów ciężarowych" title="Wykres efektywności pojazdów ciężarowych">
		</div>
	</div>
	<section>
		<h4 class="hidden">Statystyki zużycia i utrzymania norm w postaci wykresów</h4>
		<div class="container">		
			<div class="row secThirdRow">
				<div class="secThirdLeft">
					<article>
						<h3>Wykresy zużycia paliwa</h3>
						Na podstawie danych przesyłanych przez kierowców lub wprowadzanych manualnie system oblicza średnie ważone dla całej trasy.	Takie obliczenie zostaje zapisane w bazie firmy jako podsumowanie każdej z tras. Przy wykresach dla poszczególnych kierowców lub pojazdów prezentowane będzie w postaci punktu wykresu, natomiast przy wykresach słupkowych obliczne są kolejne średnie ważone, tak aby zobrazować uśredniony wynik norm w zadanym okresie.
					</article>
					<div class="dividerLeft"></div>
				</div>
				<div class="secThirdRight">
					<div class="imgTrigger_third"><i class="fa fa-search-plus" aria-hidden="true"></i>
					<img style="left: 0px;" src="/img/Wykres srednie realne zuzycie paliwa w stosunku do normy obliczanej od wagi ladunku.jpg" alt="Wykres średnie realne zużycie paliwa w stosunku do normy obliczanej od wagi ladunku" title="Wykres średnie realne zużycie paliwa w stosunku do normy obliczanej od wagi ladunku">
				</div>
				</div>
			</div>
		</div>
	</section>
	<section class="gratis">
		<h4 class="hidden">40 dni korzystania ze systemu kontroli zużycia paliwa gratis</h4>
		<div class="container">		
			<div class="row secFourthRow">
				<div class="secFourthLeft">
					<p><strong>40</strong> dni GRATIS !</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h4 class="hidden">Opis działania panelu kierowcy przy statystykach zużycia paliwa</h4>
		<div class="container">		
			<div class="row secFifthdRow">
				<div class="secFifthLeft">
					<div class="hand"></div>
					<div class="phone"></div>
				</div>
				<div class="secFifthRight">
					<article>
					<h3>Panel kierowcy</h3>
					W przypadku kiedy kierowcy nie dysponują telefonami typu smartfon istnieje możliwość wprowadzania odcinków tras manualnie porzez panel udostępniony w systemie klienta. Znacznie wydajniejsze działanie programu opiera się na danych wprowadzanych poprzez aplikację "Panel kierowcy" udostępnianą każdemu kierowcy na telefonie firmowym. Telefon musi mieć zainstalowaną przeglądarkę Chrome oraz podstawowy dostęp do internetu aby móc na bieżąco przesyłać dane do bazy firmy. Bezpłatna wersja programu dostępna jest po zarejestrowaniu firmy poprzez panel Rejestracja. Więcej informacji na temat działania systemu znajduje się w dziale <a href="/img/instrukcja_systemu_kontroli_zuzycia_paliwa.pdf" target="_blank"><strong>Instrukcja i szczegółowy opis aplikacji.</strong></a>
					</article>
					<div class="divider"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="price">
		<h4 class="hidden">Cena systemu kontroli zużycia paliwa na miesiąc</h4>
		<div class="container">		
			<div class="row secSixtRow">
				<div class="secSixtLeft">
					<p><strong>8</strong>zł za MIESIĄC !</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h4 class="hidden">Dokładne rozliczenie paliwowe każdej trasy</h4>
		<div class="container">		
			<div class="row">
				<article class="footLeft">
					<h4 class="hidden">Szczegółowa ocena efektywności pracy kierowcy</h4>
					Trasą określamy odległość pomiędzy punktami tankowania "do pełna", na podstawie których określa się średnią realnego spalania. Odcinek trasy to odległość pomiędzy punktami, w których następuje jakakolwiek operacja przeładunkowa. Dla każdego z takich odcinków obliczana jest norma spalania uzależniona od wagi towaru. System zapisuje normę również dla kilku następujących kolejno po sobie rozładunków lub załadunków przyjmując każdy z nich jako oddzielny odcinek.
					W ten sposób firma otrzymuje w postaci wykresów dokładne rozliczenie paliwowe każdej trasy oraz dostarczane są dane porównawcze umożliwiające szczegółową ocenę efektywności każdego kierowcy.<br><br>
					Aby przybliżyć działanie aplikacji została przygotowana wersja demonstracyjna dostępna po kliknięciu w link <strong><a href="#demo">"Demo systemu"</a></strong> umieszczony na górze strony.
					<div class="dividerLeft"></div>
				</article>
				<aside class="footRight">
					<h4 class="hidden">Cennik korzystania ze systemu kontroli zużycia paliwa</h4>
					<p><strong>Pierwsze 40 dni korzystania ze systemu jest bezpłatne dla każdego pojazdu firmy. </strong><br>W dowolnym momencie można wycofać z systemu pojazd lub firmę wraz ze wszystkimi jej danymi.</p>
					<p>Po zakończeniu bezpłatnego okresu proponujemy opcje:</p>
					<p><strong>Abonament - 4 miesiące - 48 zł*</strong></p>
					<p><strong>Abonament - 8 mięsięcy - 80 zł*</strong></p>
					<p><strong>Abonament - 12 miesiecy - 96 zł*</strong></p>
					<p>*Cena netto za pojazd. Kupujący nabywa usługę w ramach wewnątrzwspólnotowej sprzedaży usług ze stawką VAT obowiązującą w kraju nabycia usługi.</p>
					<p>Wybór opcji płatności będzie dostępny po dokonaniu rejestracji firmy w systemie.</p>
					
				</aside>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">		
			<div class="row">
				<div class="footerLeft">					
					<p>Kontakt: e-mail: admin@40ton.online, tel. +48 797183703, +34 627035953</p>
					<p class="adrLine">&#x24B8 2018 40ton.online - Av.Barcelona 59, 43892 Miami Playa, Spain</p>
					<span id="regulBtn" class="desc">Regulamin </span>
					<span id="poliBtn" class="desc">Polityka prywatności</span>				
				</div>
				<div class="footerRight"></div>
			</div>					
		</div>
		<div class="container divertFooter">
			<div class="dividerLeft"></div>
			<h5>Websites & Web Aplications Projects: <a href="http://www.alegria.live" target="_blank">www.alegria.live</a></h5>
		</div>
	</footer>

	<div class="container">
		<div id="regulamin" class="hidden">			
			<p><strong>REGULAMIN</strong></p>
			<p><strong>1. Informacje ogólne</strong></p>
			<p>1. Niniejszy Regulamin jest Regulaminem korzystania z usług 40ton.online oferowanych pod adresem www.40ton.online.</p>
			<p>2. Poprzez "40ton.online" rozumie się firmę "40ton.online" działającą pod adresem: Av.Barcelona 59, 43892 Miami Playa, Hiszpania.</p>
			<p>3. Poprzez użytkownika rozumie się firmę która złożyła zamówienie na wybraną usługę oraz zrealizowała je poprzez jej opłacenie na minimalny okres wskazany na stronie www.40ton.online.</p>
			<p>4. Istnieje możliwość ustalenia osobnych warunków świadczenia Usługi po uprzednim uzgodnieniu warunków między zainteresowanym klientem a 40ton.online.</p>
			<p>5. Administratorem 40ton.online jest osoba odpowiedzialna za zarządzanie kontami oraz wszystkimi sprawami związanymi bezpośrednio z działaniem usług oferowanych przez 40ton.online.</p>
			<p>6. Złożenie zamówienia jest równoznaczne z wyrażeniem zgody na przetwarzania swoich danych osobowych w zakresie umożliwiającym wywiązanie się ze zobowiązań w stosunku do użytkownika.</p>
			<p>7. 40ton.online zastrzega sobie prawo do odrzucenia zamówienia lub anulowania aktywnej usługi w przypadku, kiedy dane podane przez klienta w formularzu rejestracyjnym nie są prawdziwe.</p>
			<p>8. Z chwilą otrzymania danych dostępowych do konta, użytkownik staje się jego jedynym właścicielem i odpowiada za całą zawartość umieszczaną na tym koncie.</p>
			<p><strong>2. Płatności</strong></p>
			<p>1. Wszelkie opłaty za usługi prowadzone przez 40ton.online dokonywane są z góry na okres podany w cenniku, chyba że została wcześniej indywidualnie uzgodniona inna forma płatności.</p>
			<p>2. Przedłużenie usługi odbywa się poprzez opłacenie jej na kolejny wybrany okres.</p>
			<p>3. Za datę płatności uznaje się datę zaksięgowania wpłaty na koncie systemu "dotpay.pl".</p>
			<p>4. Wszelkie płatności dokonywane są z wykorzystaniem panelu płatności "dotpay.pl". Wszelkie inne formy płatności muszą być wcześniej uzgodnione indywidualnie i potwierdzone przez obie strony.</p>
			<p>5. W przypadku nieprzedłużenia usługi, 40ton.online zastrzega sobie prawo do zablokowania lub wyłączenia jej po upływie daty ważności bez informowania o tym fakcie użytkownika wraz z usunięciem danych po upływie 21 dni od daty blokady konta.</p>
			<p><strong>3. Prawa i obowiązki klienta</strong></p>
			<p>1. Klient zobowiązuje się do bezwzględnego przestrzegania wszystkich punktów zawartych w niniejszym regulaminie.</p>
			<p>2. Złożenie zamówienia na dowolną usługę równoznaczne jest z akceptacją wszystkich punktów regulaminu.</p>
			<p>3. W ciągu 14 dni od otrzymania pisemnej reklamacji klient zostanie poinformowany o decyzji dotyczącej danego wniosku. W przypadku braku takiej decyzji w wyznaczonym terminie — reklamację uznaje się za przyjętą i rozpatrzoną pozytywnie.</p>
			<p>4. Klient, zamawiając usługę oraz dokonując zapłaty wyraża zgodę na rozpoczęcie świadczenia usługi w ciągu maksymalnie 24h od daty zaksięgowania wpłaty na koncie bankowym.</p>
			<p>5. W przypadku powstania roszczenia wobec 40ton.online od osoby trzeciej dotyczącej sposobu użytkowania konta przez klienta, klient zastępuje 40ton.online w sporze. W przypadku braku możliwości zastąpienia w sporze przez klienta klient ponosi odpowiedzialność wypłacenia odszkodowania 40ton.online w ramach rekompensaty za poniesione koszty przez 40ton.online wynikłe ze sporu z osobą trzecią.</p>
			<p><strong>4. Prawa i obowiązki 40ton.online</strong></p>
			<p>1. 40ton.online zastrzega sobie prawo do natychmiastowego usunięcia lub zablokowania usługi w przypadku naruszenia dowolnego z punktów regulaminu.</p>
			<p>2. 40ton.online nie ponosi odpowiedzialności za szkody wynikające z przyczyn niezależnych, na które firma nie ma wpływu, tj. między innymi: awaria łącz pośrednich, uszkodzenie sprzętu, ataki DoS/DDoS skierowane na serwery lub łącza, z których te serwery korzystają, wojny, ataku terrorystycznego, kataklizmu, klęski żywiołowej, epidemii, pożarów, klęsk żywiołowych.</p>
			<p>3. 40ton.online nie ponosi odpowiedzialności za szkody wynikające z niewłaściwego korzystania z usług 40ton.online przez klienta.</p>
			<p>4. 40ton.online zobowiązuje się do udzielania pomocy klientowi w sprawach technicznych związanych z działaniem usług oferowanych przez 40ton.online.</p>
			<p><strong>5. Postanowienia końcowe</strong></p>
			<p>1. Regulamin wchodzi w życie z chwilą opublikowania go na stronie www.40ton.online.</p>
			<p>2. O zmianach w regulaminie 40ton.online będzie informował na stronie www.40ton.online oraz za pomocą poczty e-mail na adres podany podczas rejestracji.</p>
			<p>3. W przypadku zmian w regulaminie użytkownik ma prawo odstąpić od usługi przed upływem jej daty ważności. Przedłużenie usługi równoznaczne jest z akceptacją nowego regulaminu.</p>
			<p>4. Wszystkie ceny usług oferowanych przez 40ton.online dostępne są na stronie www.40ton.online i mogą zostać w każdej chwili zmienione.</p>
			<p>5. W przypadku przedłużenia danej usługi użytkownik zobowiązuje się opłacić ją wg aktualnego cennika na stronie www.40ton.online, chyba że inna cena została uzgodniona przez obie strony (Klienta oraz właściciela 40ton.online).</p>
		</div>		
	</div>
	<div class="container">		
		<div id="polityka" class="hidden">			
			<p><strong>Polityka Prywatności i Bezpieczeństwa</strong></p>
			<p><strong>POJĘCIA</strong></p>
			<p>Administrator – właściciel serwisu internetowego prowadzonego w domenie internetowej 40ton.online, Av.Barcelona 59, 43892 Miami Playa, Hiszpania, adres poczty elektronicznej: admin@40ton.online.</p>
			<p>Serwis – platforma internetowa funkcjonująca w domenie 40ton.online.</p>
			<p>Użytkownik – każda osoba korzystająca z Serwisu.</p>
			<p>Klient – osoba fizyczna posiadająca pełną zdolność do czynności prawnych, a w wypadkach przewidzianych przez przepisy powszechnie obowiązujące, także osoba fizyczna posiadająca ograniczoną zdolność do czynności prawnych albo jednostka organizacyjna nieposiadająca osobowości prawnej, której ustawa przyznaje zdolność prawną, która zawarła lub zamierza zawrzeć Umowę z 40ton.online oraz korzysta lub zamierzająca korzystać z co najmniej jednej Usługi Elektronicznej.</p>
			<p>Usługa – każde świadczenie niemające charakteru materialnego, której zakupu dokonuje Klient poprzez Serwis, zawierając Umowę z 40ton.online.</p>
			<p>Usługa Elektroniczna – usługa świadczona drogą elektroniczną przez 40ton.online na rzecz Klienta za pośrednictwem Serwisu.</p>
			<p>Umowa – umowa o świadczenie Usługi zawierana albo zawarta między Klientem a 40ton.online za pośrednictwem Serwisu.</p>
			<p><strong>ADMINISTRATOR DANYCH OSOBOWYCH</strong></p>
			<p>Administratorem danych osobowych Użytkowników jest 40ton.online.</p>
			<p><strong>CEL I ZAKRES GROMADZENIA DANYCH</strong></p>
			<p>W czasie obecności Użytkownika w Serwisie, w szczególności podczas korzystania z Usług Elektronicznych lub dokonywania zakupu Usług udostępnionych przez 40ton.online w Serwisie albo korzystania z tych Usług, może zostać poproszony o podanie (udostępnienie) swoich danych osobowych. Zakres wprowadzenia swoich danych występuje w przystosowanym formularzu do wprowadzenia tych danych, stosownie do potrzeb danej Usługi lub Usługi Elektronicznej, z której Użytkownik lub Klient zamierza skorzystać. Podanie danych jest zawsze dobrowolne, lecz czasami niezbędne dla prawidłowego wykonania Usługi lub Usługi Elektronicznej.</p>
			<p>Przetwarzanie danych odbywa się wyłącznie w celu, w jakim zostały udostępnione Administratorowi.
				<p>Przetwarzanie danych w celach marketingowych odbywa się wyłącznie po uzyskaniu odrębnej zgody przez Użytkownika lub Klienta Serwisu.</p>
			<p><strong>DOBROWOLNOŚĆ UDOSTĘPNIENIA DANYCH</strong></p>
			<p>Każdy Użytkownik lub Klient Serwisu w celu skorzystania z Usług lub Usług Elektronicznych dysponuje prawem dobrowolnego wprowadzenia danych. W przypadku korzystania z niektórych usług wprowadzenie danych mimo, iż dobrowolne, może okazać się niezbędne dla wykonania Usługi lub Usługi Elektronicznej.</p>
			<p>Dane niezbędne (obowiązkowe) do wprowadzenia w przypadku skorzystania z Usługi lub Usługi Elektronicznej każdorazowo pozostają wyszczególnione w formularzu przeznaczonym do wprowadzenia tych danych.</p>
			<p><strong>PRAWO DOSTĘPU DO DANYCH</strong></p>
			<p>Każdy Użytkownik lub Klient Serwisu ma prawo dostępu do danych i ich poprawienia, w szczególności poprzez dostęp do Panelu Klienta, bądź kontakt z Administratorem, za pośrednictwem:</p>
			<p>w formie elektronicznej za pośrednictwem poczty elektronicznej na adres: admin@40ton.online</p>
			<p>pisemnie (korespondencyjnie) na adres: 40ton.online, Av.Barcelona 59, 43892 Miami Playa, Hiszpania.</p>
			<p><strong>ZABEZPIECZENIA I OCHRONA DANYCH OSOBOWYCH</strong></p>
			<p>Administrator oświadcza, że przetwarza dane osobowe Użytkowników oraz Klientów Serwisu zgodnie z ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz.U. 1997 poz. 883 z późn. zm.) oraz Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (zwanym dalej: RODO, GDPR) oraz że stosuje środki techniczne i organizacyjne zapewniające ochronę przetwarzanych danych odpowiednią do zagrożeń oraz kategorii danych objętych ochroną, a w szczególności zabezpiecza dane osobowe użytkowników oraz Klientów Serwisu przed udostępnieniem ich osobom nieupoważnionym, utratą czy uszkodzeniem.</p>
			<p><strong>COOKIES</strong></p>
			<p>40ton.online korzysta z plików cookies w Serwisie. Pliki cookies stanowią krótkie pliki tekstowe przechowywane przez przeglądarkę internetową lub bezpośrednio na urządzeniu odbiorczym Użytkownika Serwisu. Zapisanie plików cookies w w/w sposób umożliwia, aby preferencje Użytkownika zostały zapamiętane oraz dostosowane do jego oczekiwań, bez konieczności ponownego wprowadzania danych.</p>
			<p>Pliki cookies wykorzystywane są w następujących celach:</p>
			<p>tworzenia statystyk, które pomagają zrozumieć, w jaki sposób użytkownicy korzystają ze strony internetowej, co umożliwia ulepszanie ich struktury i zawartości.</p>
			<p>utrzymanie sesji użytkownika strony internetowej, dzięki której użytkownik nie musi na każdej podstronie strony internetowej ponownie wpisywać loginu i hasła lub wykonywać dodatkowych czynności, np: ponowne dodanie usługi do koszyka.</p>
			<p>określania profilu użytkownika w celu wyświetlania mu dopasowanych materiałów w sieciach reklamowych, w szczególności sieci Google.</p>
			<p>W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe” (persistent cookies). Pliki „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). Pliki „stałe” przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.</p>
			<p>Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies. Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.</p>
			<p>Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne w Serwisie.</p>
			<p><strong>PODMIOTY TRZECIE A COOKIES</strong></p>
			<p>Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu wykorzystywane mogą być również przez współpracujące z 40ton.online podmioty trzecie, w szczególności w celach reklamowych.</p>
			<p>40ton.online zaleca zapoznanie się z polityką prywatności partnerów, z którymi współpracuje:</p>
			<p>Google: https://policies.google.com/technologies/cookies?hl=pl</p>
			<p>Pliki cookies mogą być wykorzystane przez sieci reklamowe, w szczególności sieć Google, do wyświetlenia reklam dopasowanych do sposobu, w jaki Użytkownik korzysta z Serwisu. W tym celu mogą zachować informację o ścieżce nawigacji Użytkownika lub czasie pozostawania na danej stronie.</p>
			<p>W zakresie informacji o preferencjach użytkownika gromadzonych przez sieć reklamową Google użytkownik może przeglądać i edytować informacje wynikające z plików cookies przy pomocy narzędzia: https://www.google.com/ads/preferences/.</p>
			<p><strong>BLOKADA LUB USUNIĘCIE PLIKÓW COOKIES</strong></p>
			<p>Zgodnie z obowiązującymi przepisami ustawy z dnia 16 lipca 2004 r. Prawo telekomunikacyjne (Dz.U. 2004 nr 171 poz. 1800 z późn. zm.), w szczególności z art. 173 ust. 2 Użytkownik ma prawo zadecydowania w zakresie dostępu plików cookies do swojego komputera (urządzenia odbiorczego) poprzez ich uprzedni wybór w oknie swojej przeglądarki.</p>
			<p>Pozostawienie przez Użytkownika niezmienionych ustawień oprogramowania zainstalowanego na komputerze (urządzeniu odbiorczym) oznacza wyrażenie zgody na zamieszczanie plików tekstowych typu cookies na urządzeniu Użytkownika.</p>
			<p><strong>LOGI SERWERA</strong></p>
			<p>Informacje o logowaniach Użytkowników w warstwie serwerowej. Dane te są wykorzystywane wyłącznie w celu administrowania Serwisem.</p>
			<p>Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać:</p>
			<p>czas nadejścia zapytania.</p>
			<p>czas wysłania odpowiedzi.</p>
			<p>informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP.</p>
			<p>adres URL strony poprzednio odwiedzanej przez Użytkownika (referer link) – w przypadku gdy przejście do Serwisu nastąpiło przez odnośnik.</p>
			<p>informacje o przeglądarce Użytkownika.</p>
			<p>informacje o adresie IP Użytkownika.</p>
			<p>Dane powyższe nie są kojarzone z konkretnymi osobami przeglądającymi strony.</p>
			<p>Dane powyższe są wykorzystywane jedynie dla celów administrowania Serwisem.</p>
			<p><strong>KONTAKT</strong></p>
			<p>Administrator zapewnia Użytkownikom Serwisu możliwość kontaktu ws. ochrony danych, jak również wsparcia przy edycji ustawień, w szczególności dostosowania plików cookies do swoich preferencji:</p>
			<p>- w formie elektronicznej za pośrednictwem poczty elektronicznej na adres: admin@40ton.online</p>
			<p>- pisemnie (korespondencyjnie) na adres: 40ton.online, Av.Barcelona 59, 43892 Miami Playa, Hiszpania</p>
		</div>
	</div>	
{{#if env}}
	<script src="/js/libs/jquery.min.js"></script>
	<script src="/js/libs/jquery.transit.min.js"></script>
	<script src="js/writeSigns.js"></script>
	<script src="js/send.js"></script>
	<script src="/js/login.js"></script>
	<script src="/js/reg.js"></script>
	<script src="/js/main.js"></script>
	<script src="js/scripts.js"></script>
{{else}}
	<script src="/js/libs/homeLibs.min.js"></script>	
	<script src="js/home.min.js"></script>
{{/if}}	